.topnav {
    background-color:#2FA5EB;
}

.topnav a {
  float: right;
 color: #f2f2f2;
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
 font-size: 20px;
}

p {
  margin: 0px;
  display:inline-block;
}

body {
  margin: 0px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

*{
	margin:auto;
	padding:auto;
}




.middle{
	width:100%;
	border-bottom:2px solid #f0f0f0;
}
.middle div{
	width:1200px;
	height:400px;
	font-family:calibri;
}

.middle div p{
	width:1000px;
	font-weight:bold;
	height:300px;
	color:#fff;
	opacity:0.2;
	font-size:50px;
	background-color:#000;
}



input[type="text"]{
	padding:12px;
	width:250px;
}
select{
	padding:12px;
	width:250px;
}
textarea{
	padding:50px;
	width:550px;
}
button{
	width:550px;
	padding:10px;
	color:#fff;
	font-size:20px;
	background-color:#2FA5EB ;
}




.pp{
  height: 150px;
}

.d1 {

  display: inline-block;
  width: 49%;
}
.d2 {

  display: inline-block;
  width: 50%;
}

.itd {
  padding-right: 125px;
}

.prp {
  height: 100px;
}

body {
  background-color: #D8EBEF;
}

.options {
	background-color: #9FE1ED;
	height: 70px;
	width: 80%;
}

.old {
	display: inline-block;
	font-size: 52px;
	width: 50%;
	
}

.ord {
	display: inline-block;
	width: 49%;
	font-size: 52px;
	
}

.options a{
	text-decoration: none;
	color: #6E739A;
}

.options a:hover {
background-color: #8A89E8;
color: black;
}

.app_table{
	border-color: #8A89E8;
}

.td {
	width: 200px;
	height: 50px;
	text-align: center;
}


.tr:hover {
	background-color: #5B6A7A;
color: white;
}

.submit {
	width: 80%;
	background-color: red;
	border-radius: 8px;
	border-style: none;
	cursor: pointer;
	font-family: "RM Neue",sans-serif;
	font-size: 100%;
	
	text-align: center;
	
	color: white;
  }

  .submit:hover {
	  background-color: #8A89E8;
  }