<html>
<head>
	<title> XYZ Hospital </title>

	<link href="../static/css/style.css" type="text/css" rel="stylesheet">

</head>
<body>
  <div class="topnav">
  	<p  style="font-size:40px;font-family:forte;"> <font color="#D8EBEF"> XYZ  </font><font color="#000"> Hospital</font> </p>
		<a href="login.html">LOGIN</a>
		<a href="about.html">ABOUT US</a>
		<a href="doctor.html">DOCTORS</a>
		<a href="service.html">SERVICE</a>
		<a href="cust_homepage.html">HOME</a>
  </div>
  <br> <br>
  <br><br><br>
  <center><table border="5px"  class = "app_table">
      <tr class="tr">
          <td class="td">Name</td>
          <td class="td">Phone Number</td>
          <td class="td">Email</td>
          <td class="td">Consultation Medium</td>
          <td class="td">Patient Type</td>
          <td class="td">Specialist</td>
          <td class="td">Customer name</td>
          <td class="td">Date</td>
          <td class="td">Time</td>
          <td class="td">Actions</td>
          <td class="td">Details</td>
      </tr>
      <tr class="tr">
        <td class="td">Name</td>
        <td class="td">Phone Number</td>
        <td class="td">Email</td>
        <td class="td">Consultation Medium</td>
        <td class="td">Patient Type</td>
        <td class="td">Specialist</td>
        <td class="td">Customer name</td>
        <td class="td">Date</td>
        <td class="td">Time</td>
        <td class="td"><button class="submit">Delete</button></td>
        <td class="td"><button class="submit">Download</button></td>
    </tr>
    <tr class="tr">
        <td class="td">Name</td>
        <td class="td">Phone Number</td>
        <td class="td">Email</td>
        <td class="td">Consultation Medium</td>
        <td class="td">Patient Type</td>
        <td class="td">Specialist</td>
        <td class="td">Customer name</td>
        <td class="td">Date</td>
        <td class="td">Time</td>
        <td class="td"><button class="submit">Delete</button></td>
        <td class="td"><button class="submit">Download</button></td>
    </tr>
    <tr class="tr">
        <td class="td">Name</td>
        <td class="td">Phone Number</td>
        <td class="td">Email</td>
        <td class="td">Consultation Medium</td>
        <td class="td">Patient Type</td>
        <td class="td">Specialist</td>
        <td class="td">Customer name</td>
        <td class="td">Date</td>
        <td class="td">Time</td>
        <td class="td"><button class="submit">Delete</button></td>
        <td class="td"><button class="submit">Download</button></td>
    </tr>
    <tr class="tr">
        <td class="td">Name</td>
        <td class="td">Phone Number</td>
        <td class="td">Email</td>
        <td class="td">Consultation Medium</td>
        <td class="td">Patient Type</td>
        <td class="td">Specialist</td>
        <td class="td">Customer name</td>
        <td class="td">Date</td>
        <td class="td">Time</td>
        <td class="td"><button class="submit">Delete</button></td>
        <td class="td"><button class="submit">Download</button></td>
    </tr>
    <tr class="tr">
        <td class="td">Name</td>
        <td class="td">Phone Number</td>
        <td class="td">Email</td>
        <td class="td">Consultation Medium</td>
        <td class="td">Patient Type</td>
        <td class="td">Specialist</td>
        <td class="td">Customer name</td>
        <td class="td">Date</td>
        <td class="td">Time</td>
        <td class="td"><button class="submit">Delete</button></td>
        <td class="td"><button class="submit">Download</button></td>
    </tr>
    <tr class="tr">
        <td class="td">Name</td>
        <td class="td">Phone Number</td>
        <td class="td">Email</td>
        <td class="td">Consultation Medium</td>
        <td class="td">Patient Type</td>
        <td class="td">Specialist</td>
        <td class="td">Customer name</td>
        <td class="td">Date</td>
        <td class="td">Time</td>
        <td class="td"><button class="submit">Delete</button></td>
        <td class="td"><button class="submit">Download</button></td>
    </tr>
    <tr class="tr">
        <td class="td">Name</td>
        <td class="td">Phone Number</td>
        <td class="td">Email</td>
        <td class="td">Consultation Medium</td>
        <td class="td">Patient Type</td>
        <td class="td">Specialist</td>
        <td class="td">Customer name</td>
        <td class="td">Date</td>
        <td class="td">Time</td>
        <td class="td"><button class="submit">Delete</button></td>
        <td class="td"><button class="submit">Download</button></td>
    </tr>
    <tr class="tr">
        <td class="td">Name</td>
        <td class="td">Phone Number</td>
        <td class="td">Email</td>
        <td class="td">Consultation Medium</td>
        <td class="td">Patient Type</td>
        <td class="td">Specialist</td>
        <td class="td">Customer name</td>
        <td class="td">Date</td>
        <td class="td">Time</td>
        <td class="td"><button class="submit">Delete</button></td>
        <td class="td"><button class="submit">Download</button></td>
    </tr>
    <tr class="tr">
        <td class="td">Name</td>
        <td class="td">Phone Number</td>
        <td class="td">Email</td>
        <td class="td">Consultation Medium</td>
        <td class="td">Patient Type</td>
        <td class="td">Specialist</td>
        <td class="td">Customer name</td>
        <td class="td">Date</td>
        <td class="td">Time</td>
        <td class="td"><button class="submit">Delete</button></td>
        <td class="td"><button class="submit">Download</button></td>
    </tr>
  </table></center>