<html>
<head>
	<title> Doctors </title>

	<link href="../static/css/style.css" type="text/css" rel="stylesheet">

</head>
<body>
  <div class="topnav">
  	<p  style="font-size:40px;font-family:forte;"> <font color="#D8EBEF"> XYZ  </font><font color="#000"> Hospital</font> </p>
		<a href="login.html">LOGIN</a>
		<a href="about.html">ABOUT US</a>
		<a href="doctor.html">DOCTORS</a>
		<a href="service.html">SERVICE</a>
		<a href="index.html">HOME</a>
  </div>
<div class="">
  <div class="d1">

    <table>
      <tr>
        <td class="itd"><img class="prp" src="../static/images/pp1.png" alt=""></td>
        <td><p> Name: </p><br>
            <p> Age: </p><br>
            <p> Experience: </p><br>
            <p>Department:</p></td>
      </tr>
      <tr>
        <td class="itd"><img class="prp" src="../static/images/pp2.png" alt=""></td>
        <td><p> Name: </p><br>
            <p> Age: </p><br>
            <p> Experience: </p><br>
            <p>Department:</p></td>
      </tr>
      <tr>
        <td class="itd"><img class="prp" src="../static/images/pp2.png" alt=""></td>
        <td><p> Name: </p><br>
            <p> Age: </p><br>
            <p> Experience: </p><br>
            <p>Department:</p></td>
      </tr>
    </table>

  </div>
  <div class="d2">

    <table>
      <tr>
        <td class="itd"><img class="prp" src="../static/images/pp1.png" alt=""></td>
        <td><p> Name: </p><br>
            <p> Age: </p><br>
            <p> Experience: </p><br>
            <p>Department:</p></td>
      </tr>

      <tr>
        <td class="itd"><img class="prp" src="../static/images/pp2.png" alt=""></td>
        <td><p> Name: </p><br>
            <p> Age: </p><br>
            <p> Experience: </p><br>
            <p>Department:</p></td>
      </tr>
      <tr>
        <td class="itd"><img class="prp" src="../static/images/pp3.png" alt=""></td>
        <td><p> Name: </p><br>
            <p> Age: </p><br>
            <p> Experience: </p><br>
            <p>Department:</p></td>
      </tr>
      </table>
  </div>
</div>



  