{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
    %}
    <!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" href="../static/css/style1.css">
  </head>
  <body>
    <body>
      <div style="width:100%;" class="topnav">
        <p  style="font-size:40px;font-family:forte;"> <font color="#D8EBEF"> XYZ  </font><font color="#000"> Hospital</font> </p>

        <a href="login.html">LOGIN</a>
        <a href="about.html">ABOUT US</a>
        <a href="doctor.html">DOCTORS</a>
        <a href="service.html">SERVICE</a>
        <a href="index.html">HOME</a>




      </div><br>

      <div class="left_div">
        <div class="leftidiv">
          <img  src="../static/images\company_logo.jpg" alt="">
<br>
          <h2 class="cp">Welcome to XYZ Hospital</h2><br>
          <p class="cp1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam egestas nisi in laoreet porta. Etiam id cursus quam.</p>
          <img class="limg"src="../static/images\best-hospital-in-south-india.jpg" alt=""><br>
          <hr class="hr"><br>
          <h2 class="lt"> Best Medical & Health care Needs to Our Patients</h2>
          <p class="ltp">Just one step to get in touch with us!</p>

        </div>
        </div>

        <div class="right_div">
          <h1 class="li">Login</h1>
          <form class="" onsubmit="login()" method="post">

              <label class="lmip"><b>Email/User ID</b></label><br><br>
              <input class="mip" type="email" name="email" value="" placeholder="Email/User ID">
              <br><br><br><br><br>
              <label class="lmip"> <b>Password</b> </label> <br><br>
              <input class="mip" type="password" name="password" value="" placeholder="Password">
              <br><br><br><br><br>
              <br><br><br>
              <input class="submit"  type="submit" name="" value="Login">
              <br><br><br><br><br>
          </form>
          <p class="par"><strong> New User?</strong></p> <br><br><br>
          <a href="registration.html" class="par1">Register</a>
      </body>
      </html>

    {% endblock %}