<html>
<head>
	<title> About </title>

	<link href="../static/css/style2.css" type="text/css" rel="stylesheet">

</head>
<body>
  <div class="topnav">
  	<p  style="font-size:40px;font-family:forte;"> <font color="#D8EBEF"> XYZ  </font><font color="#000"> Hospital</font> </p>
      <a href="{{ url_for('auth.login') }}">LOGIN</a>
      <a href="{{ url_for('auth.about') }}">ABOUT US</a>
      <a href="{{ url_for('auth.doctors') }}">DOCTORS</a>
      <a href="{{ url_for('auth.service') }}">SERVICE</a>
      <a href="{{ url_for('auth.home') }}">HOME</a>
  </div>

  <div class="bottom">
		<div>
			<table border="0">
				<tr>
					<td width="700px">
						<font color="#000"> Welcome to XYZ Hospital</font> <br> <br>

					<font color="#000" size="6px"> Best Medical & Health care Needs to Our Patients </font> <br> <br>

          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut volutpat rutrum eros amet sollicitudin interdum. Suspendisse pulvinar, velit nec pharetra interdum, ante tellus ornare mi, et mollis tellus neque vitae elit. Mauris adipiscing mauris fringilla turpis interdum sed pulvinar nisi malesuada. Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br><br>

          Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit. <br><br>

<br>
 </td>


					<td style="padding-left:20px;"> <img src="../static/images/about.jpg" width="400px"></td>
				</tr>


			</table>
		</div>
	</div>

  <div class="bottom">
		<div>
			<table border="0">
				<tr>
					<td width="700px">
						<font color="#000">Address </font> <br> <br>

					<font color="#000" size="6px"> XYZ Hospital & Research Center</font> <br> <br>

          Lorem ipsum dolor sit amet<br>
          Lorem ipsum <br>Nulla vitae elit libero <br> Contact No - 0123456789 <br> Email: XYZ@hospital.com<br><br>
          <br>
          </td>
          <td style="padding-left:20px;"> </td>
				</tr>
			</table>
		</div>
	</div>
