<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">


	<title>Book Appointment</title>


	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">


	<link type="text/css" rel="stylesheet" href="../static/css/bootstrap.min.css" />

	<link type="text/css" rel="stylesheet" href="../static/css/stylesheet.css" />



</head>

<body>
	<div id="booking" class="section">
		<div class="section-center">
		
			<div class="container">
				<div class="row">
					<div class="booking-form">
						<div class="form-header">
							
							<h1>Book Your Appointment</h1>
						</div>
						<form action="/insert" class="booking-form" method="POST">
							<div class="form-group">
								<div class="form-checkbox">
									<label for="new-patient">
										<input type="radio" id="new-patient" name="patient" value="New Patient" >
										<span></span>New Patient
									</label>
									<label for="fellow-up">
										<input type="radio" id="fellow-up" name="patient" value="Fellow Up" >
										<span></span>Fellow up
									</label>
									
								</div>
							</div>
		
							<div class="form-group">
								<input class="form-control" type="text" name="name" required>
								<span class="form-label">Name</span>
							</div>
							<div class="form-group">
								<input class="form-control" type="tel" name="phone" required>
								<span class="form-label">Contact</span>
							</div>
							<div class="form-group">
								<input class="form-control" type="email" name="email"  required>
								<span class="form-label">Email</span>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<input class="form-control" type="date" name="date"  required>
										<span class="form-label">Date</span>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<input class="form-control" type="time"  name="time" required>
										<span class="form-label">Time</span>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4">
									<div class="form-group">
										<select class="form-control" name="practitioner">
											<option>Dr. Jane Rubio</option>
											<option>Dr. Steven Greenwood</option>
											<option>Dr. Kate Andrew</option>
										</select>
										<span class="select-arrow"></span>
										<span class="form-label">Practitioner</span>
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<select class="form-control" name="specialist">
											<option>Neurologist</option>
											<option>Dermatologist</option>
											<option>Cardiologist</option>
											<option>General Physician</option>
											<option>Physiotherapist</option>
											<option>Oncologist</option>
											<option>Orthopedics</option>
											<option>Gynecologist</option>
											<option>Surgeon</option>
											<option>Pediatrics</option>
											
										</select>
										<span class="select-arrow"></span>
										<span class="form-label">Specialization</span>
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<select class="form-control" name="consultmed">
											<option>Video</option>
											<option>Phone</option>
											<option>Hospital</option>
										</select>
										<span class="select-arrow"></span>
										<span class="form-label">ConsultMedium</span>
									</div>
								</div>
							</div>
							<div class="form-btn">
								<button class="submit-btn">Book</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		
		</div>
	</div>

	<script src="../static/js/jquery.min.js"></script>
 <script>
		$('.form-control').each(function () {
			floatedLabel($(this));
		});

		$('.form-control').on('input', function () {
			floatedLabel($(this));
		});

		function floatedLabel(input) {
			var $field = input.closest('.form-group');
			if (input.val()) {
				$field.addClass('input-not-empty');
			} else {
				$field.removeClass('input-not-empty');
			}
		}
	</script>

</body>

</html>